.about-section {
    margin: auto;
    text-align: center;
    border-top: 1px solid white; 
    padding-top: 1.5rem; 
}

.about-section p {
    font-size: 1.1rem;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


