.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer address ul {
    list-style: none; 
    padding: 0;       
    margin: 0 auto;   
    max-width: 300px; 
}

.footer address ul li {
    margin: 5px 0;    
}

.social-icons {
    margin-top: 15px;
}

.icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.icon:hover {
    color: rgb(253, 107, 107);
}
